.web-site-name-style{
    height: 230px;
    text-align: center;
    background-image: url('pics/airplane_name_bgr.jpg');
    background-size: 100% 100%;
    
    max-width: 1920px;
}

.web-site-name-style h1{
  color: #FF0000;
  font-size: 230%;
}

.web-site-name-style h4{
  color: #54FF00;
  font-size: 150%;
}

.menu-buttons{
  vertical-align: top;
  width: 100px;
  height: 30px;
  font-family: verdana;
  font-size: 1em;
  color: #88a207;
  border-radius: 25px;
  align: center;
}

.menu-buttons-bgr{
  text-align: center;
  padding: 10px;
  background-color: #a94500;
  border: 3px solid #88a207;
}

.table-layout{
    text-align: center;
    border: 3px solid #88a207;
    background-color: #FFeFF8;
    height: auto;
}

.table-col-1{
    background-size: 100% 100%;
    border: 3px solid #88a207;
}

.table-col-2{
    background-size: 100% 100%;
    text-align: center;
    border: 3px solid #88a207;
}

.table-col-3{
    background-size: 100% 100%;
    border: 3px solid #88a207;
}

.footer-style{  
    width: auto;
    height: 100px;
    border: 3px solid #88a207;
    background-color: #FFeFF8;
}

.default-offer-style{
    background-size: 100% 100%;
    height: auto;
    
    font-family: verdana;
    font-size: 40px;
    font-weight: bold;
    
    color: #bd380f;
    text-align: center;
}

.default-offer-big-style{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #bd380f;
}

.default-offer-button-style{
    width: auto;
    font-family: verdana;
    font-size: 1em;
    color: #88a207;
    border-radius: 25px;
    align: center;
}

.faq-style{
    text-align: left;
    background-color: #FFeFF8;
}

.login-style{
    background-color: #c4ffb4;
    min-height: 30px;
    text-align: center;
    padding: 3px;
    border: 3px solid #88a207;
}

.login-button-style{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 100px;
    height: 30px;
    border-radius: 15px;
}

.login-fields-style{
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}
